.realtors{

	background-color: $color-secondary;

	grid-column: col-start 7 / -1;
	padding: 3rem;
	/*
	display: flex;
	flex-direction: column;
	align-items:  center;
	justify-content: center;
	*/

	display: grid;
	align-content:  center;
	justify-content: center;
	justify-items: center;
	
	grid-row-gap: 2rem;

	@media only screen and (max-width: $bp-medium){

		grid-column: 1 / -1;
	}
	


	&__list{

		display: grid;
	    grid-template-columns: min-content max-content;
	    justify-content: center;
	    align-items: center;

	    grid-column-gap: 2rem;
	    grid-row-gap: 5vh;

	    @media only screen and (max-width: $bp-medium){

	        grid-template-columns: repeat(3, min-content max-content);
		    // grid-column: center-start / center-end;
		}

		@media only screen and (max-width: $bp-small){

			grid-template-columns: min-content max-content;
		    // grid-column: center-start / center-end;
		}
	}

	&__img{

		width: 7rem;
		display: block;
		border-radius: 50%;
	}

	&__sold{

		text-transform: uppercase;
		color: $color-grey-light-2;

	}

}